# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.pytest_cache

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env

.vscode/
.idea/
*.swp
*.swo

.DS_Store

*.log
logs/

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.pyre/
.pytype/

build/
dist/
*.egg-info/

chroma_db/

*.tmp
*.temp
*.bak


.python-version

Thumbs.db
Desktop.ini