fastapi
uvicorn[standard]

langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
transformers
torch

pypdf
beautifulsoup4

python-dotenv
ollama

pydantic
httpx
numpy
tqdm

python-multipart

pytest
pytest-asyncio